<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${#request.getAttribute('sectionName')}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation.html::nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${#request.getAttribute('sectionName')}"></span></h2>
            <hr>
            <div class="media" th:each="question:${#request.getAttribute('questions')}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.getUser().getAvatar_url()}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{/question/{question}(question=${question.getId()})}"  th:text="${question.getTitle()}"></a>
                    </h4>
                    <span class="text-desc">
                        <span th:text="${question.getComment_count()}"></span>个回复
                        <span th:text="${question.getView_count()}"></span>个浏览
                        <span th:text="${question.getLike_count()}"></span>个喜欢
                        <span th:text="${#dates.format(question.getGmt_create(),'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a th:href="@{/profile/{section}(section=${#request.getAttribute('section')})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    <li th:each="nums:${#request.getAttribute('navigatepageNums')}"
                        th:class="${#request.getAttribute('pageNum')==nums}?'active':''">
                        <a th:if="${nums<=(#request.getAttribute('pages'))}" th:href="@{/profile/{section}(pn=${nums},section=${#request.getAttribute('section')})}"
                           th:text="${nums}">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/profile/{section}(pn=${#request.getAttribute('pages')},section=${#request.getAttribute('section')})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" class="list-group-item" th:class="${#request.getAttribute('section')=='questions'}?'active list-group-item':'list-group-item'">我的问题</a>
                <a href="/profile/repies" class="list-group-item" th:class="${#request.getAttribute('section')=='repies'}?'active list-group-item':'list-group-item'">最新回复
                    <span class="badge">14</span>
                </a>
                <a href="#" class="list-group-item" th:class="${#request.getAttribute('section')=='questions'}?'active list-group-item':'list-group-item'">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item" th:class="${#request.getAttribute('section')=='questions'}?'active list-group-item':'list-group-item'">Vestibulum at eros</a>
            </div>
        </div>

    </div>

</div>
<div th:text="${#request.getAttribute('num')==0}"></div>

</body>
</html>